*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.headertop{
    background-color: rgb(221, 221, 221);
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 14px;
}
.container{
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.headertop .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.headersecond{
    padding-top: 1rem;
    padding-bottom: 1rem;

}
.headersecond .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 2rem;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
}
.headersecondright{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.headersecond a{
    text-decoration: none;
    color: grey;
}
#menubutton{
    background-color: transparent;
    border: none;
    color: green;
}
#menubutton span{
    font-size: 2rem;
}
header{
    border-bottom: 1px solid rgb(226, 224, 224);
}
.languageselect img {
    width: 1rem
}
.languageselect{
    display: none;
}
.headercentersearch{
    display: none;
}
  @media only screen and (min-width: 768px) {
    .languageselect{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .25rem;
      }
    .headertop .container{
        justify-content: space-between;
    }
    .headercentersearch {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid rgb(185,185,185);
        width: 400px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 10px;
       background-color: white;
    }
    .headercentersearch input {
        border: none;
        outline: none;
        width: 100%;
    }
    .headercentersearch span{
        font-size: 20px;
        opacity: 60%;
    }
}

  @media only screen and (min-width: 992px) {
    #menubutton{
        display: none;
        width: 600px;
    }
    .headersecondright span{
            font-size: 2rem;
       }
    .headercentersearch{
        width: 600px;
    }
    }

